.portfolio-img-rel {
  position: relative;
  overflow: hidden;
}

.portfolio-img-pretext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.portfolio-link:hover .portfolio-img-pretext,
.portfolio-link:focus .portfolio-img-pretext {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover {
  background: var(--second-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.social__item {
  width: 44px;
  height: 44px;
}

.section-title-portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.work-list-p {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  margin-right: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.section-title-portfolio-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #757575;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn .filter-btn-li:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  border-color: #f5f4fa;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 5px 16px;
  min-width: 93px;
  border-style: none;
  transition: background-color var(--time) var(--cubic),
    color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-btn-color);
  background: var(--hover-text);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08),
    0px 3px rgba(0, 0, 0, 0.1);
}

.filter-:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  cursor: pointer;
}
